/* All pages */

body {
    font-family: "Monaco", 'Courier New', Courier, monospace;
    background-color: green;
    color: white;
}

h1 {
    font-weight: 900;
}

li {
    font-style: italic;
}

a {
    font-style: italic;
    font-weight: bold;
    color: burlywood;
}

/* Recipes */

h1.recipe {
    font-style: italic;
    color: tan;
}

.Description {
    color: aqua;
}

.Ingredients {
    color: orchid;
}

.Steps {
    color: orange;
}

/* Homepage */

h1.homepage {
    text-transform: uppercase;
    color: oldlace;
    text-align: center;
}

#recipe_list {
    text-align: center;
    padding: 0;
}

#recipe_list li {
    display: inline-block;
    margin: 24px;
}

#recipe_list img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    display: block;
}